.search_bar {
  border: solid 1px #ccc;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  margin: 100px auto;
}
.search_bar:focus-within {
  border:solid 1px #aaa;
  box-shadow: 2px 2px 3px rgb(53, 6, 129, 0.3);
}
.search_bar input{
  border:none;
  outline: none;
  pad: 10px;
  font-size: 18px;
  

}
